* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.nav-item {
  display: flex;
  width: 100%;
  justify-content: start;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-item {
  display: flex;
  justify-content: end;
}

#title {
  /* text-transform: uppercase;
    font-weight: 1000;
    font-size: 13vw; */
  /* max-width: max-content; */
  animation: fadeIn 4s;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

#games {
  font-size: xx-large;
  font-weight: 1000;
}

#game {
  border: 2px solid rgb(20, 20, 20);
  box-shadow: 10px 10px 20px #000414, -10px -10px 20px #000000;
  opacity: 0.9;
}

#game:hover {
  opacity: 100%;
  transform: scale(1.1);
}
.navbar-toggler-icon {
  color: white;
}
.row {
  display: flex;
  justify-content: space-around;
}
#one {
  margin: 10px;
  width: fit-content;
  margin-left: end;
}
#one:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.44);
}
